Source: casa-alma-pipeline
Section: science
Priority: optional
Maintainer: Manuel Solimano <masolimano@uc.cl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://casa.nrao.edu/casa_obtaining.shtml
# Vcs-Git: git://github.com/kernsuite-debian/casalite.git
# Vcs-Browser: https://github.com/kernsuite-debian/casalite

Package: casa-alma-pipeline
Architecture: any
Depends: 
 ${shlibs:Depends},
 ${misc:Depends},
 libfreetype6,
 libsm6,
 libxi6,
 libxrender1,
 libxrandr2,
 libxfixes3,
 libxcursor1,
 libxinerama1,
 libfontconfig1,
 libxslt1.1,
 xauth,
 xvfb,
 dbus-x11,
 python-tk,
 libgssapi-krb5-2
Description: Common Astronomy Software Application
 this is the original binary distribution with the ALMA pipeline
